*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.gamearea{
    border: solid black 5px;
    background-color: #8D8AE5;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    height: 90vh;
    position: relative;
    width: 80vw;
}

.particle{
    background-image: url(../img/tiny_mario.png);
    background-size: cover;
    height: 70px;
    position: absolute;
    right: 30px;
    bottom: 100px;
    width: 70px;
    cursor: pointer;
}